@charset "UTF-8";
footer .ft_top {
  padding: 10px;
  background: #282828;
  color: #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 991px) {
  footer .ft_top {
    display: block;
    text-align: center;
  }
}

footer .ft_top .ft_top_left {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 40px;
  font-size: 20px;
  letter-spacing: 3px;
}

footer .ft_top .ft_top_right p {
  font-size: 12px;
  margin-top: 5px;
}

footer .ft_btn {
  background: #101010;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

footer .ft_btn .ft_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  footer .ft_btn .ft_btn_box {
    display: none;
  }
}

footer .ft_btn .ft_btn_box .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .ft_btn .ft_btn_box .follow a {
  margin: 0 3px;
}

footer .ft_btn .ft_btn_box .follow a img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_mb {
  display: none;
}

@media screen and (max-width: 1100px) {
  .header_mb {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .header_mb .header_mb_img {
    background-image: url(../img/24HLOGO.png);
    background-size: 100%;
    width: 150px;
    height: 20px;
    margin: 5px auto;
  }
}

.header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1100px) {
  .header_main {
    display: none;
  }
}

.header_main .header1 {
  background-image: url(../img/header_01.png);
  width: 232px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 5px;
}

.header_main .header2 {
  background-image: url(../img/header_02.png);
  width: 480px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 5px;
}

.header_main .text_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_main .text_main span {
  font-size: 14px;
  color: #aaa;
  margin: 0 5px;
}

.header_main .text_main a {
  text-decoration: none;
}

.header_main .head_text1::before {
  content: "例外說明";
}

.header_main .head_text1::after {
  content: "|";
  margin-left: 10px;
}

.header_main .head_text2 {
  position: relative;
}

.header_main .head_text2:hover::after {
  display: block;
}

.header_main .head_text2::before {
  content: "APP下載";
  color: red;
}

.header_main .head_text2::after {
  content: '';
  width: 200px;
  height: 200px;
  background-image: url(../img/QRCode.png);
  background-size: 100%;
  position: absolute;
  left: -100px;
  bottom: -200px;
  display: none;
}

.header_main .head_text3::before {
  content: "|";
  margin-right: 10px;
}

.header_main .head_text3::after {
  content: "追蹤歐們";
}

.header_main .img_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.header_main .img_main div {
  margin: 0 3px;
  width: 24px;
  height: 24px;
}

.header_main .img_main .img1 {
  background-image: url(../img/fb_new.svg);
  background-size: 100%;
}

.header_main .img_main .img2 {
  background-image: url(../img/ig_new.svg);
  background-size: 100%;
}

.header_main .img_main .img3 {
  background-image: url(../img/youtube_new.svg);
  background-size: 100%;
}

.header_main .img_main .img4 {
  background-image: url(../img/line_new.svg);
  background-size: 100%;
}
/*# sourceMappingURL=style.css.map */