@import "footer";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_main{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 67% 18% 15%;
    // border: 1px solid green;
    .header_left{
        display: flex;
       
        .header1{
            width: 232px;
            height: 100%;
            // object-fit: cover;
        }
        .header2{
            width: 480px;
            height: 100%;
        }
    }
    .header_text{
        display: flex;
        // justify-content: center;
        align-items: flex-end;
        // border: 1px solid green;
        font-size: 12px;
        padding-bottom: 6px;
        a{
            text-decoration: none;
            margin: 0 3px;
            span{
                color: #000;

            }
            .download{
                color: red;
                position: relative;
                // padding: 0 2px;
                &::before{
                    content: '|';
                    color: #000;
                    margin-right: 3px;
                }
                &::after{
                    content: '|';
                    color: #000;
                    margin-left: 3px;
                }
            }
        }
    }
    .header_img{
        display: flex;
        // justify-content: space-around;
        align-items: flex-end;
        a{
            margin:0 3px ;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}