* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_main {
    display: flex;
    // max-width: 1060px;
    // margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    // height: 45px;
    .header1 {
        background-image: url(../img/header_01.png);
        width: 232px;
        height: 40px;
        // padding: 25px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 5px;
    }

    .header2 {
        background-image: url(../img/header_02.png);
        width: 480px;
        height: 40px;
        // padding: 25px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 5px;
    }
    .text_main {
        //    height: 45px;
        display: flex;
        align-items: flex-end;
        span {
            font-size: 14px;
            color: #aaa;
            margin: 0 5px;
        }
    }

    .head_text1 {
        &::before {
            content: "例外說明";
        }
        &::after {
            content: "|";
            margin-left: 10px;
        }
    }
    .head_text2 {
        // color: red;
        &::before {
            content: "APP下載";
            color: red;
        }
    }
    .head_text3 {
        &::before {
            content: "|";
            margin-right: 10px;
        }
        &::after {
            content: "追蹤我們";
        }
    }
    .img_main {
        display: flex;
        div{
            margin: 0 3px;
        }
        .img1 {
            width: 32px;
            height: 32px;
            background-image: url(../img/fb_new.svg);
            background-size: 100%;
        }
        .img2 {
            width: 32px;
            height: 32px;
            background-image: url(../img/ig_new.svg);
            background-size: 100%;
        }
        .img3
         {
            width: 32px;
            height: 32px;
            background-image: url(../img/youtube_new.svg);
            background-size: 100%;
        }
        .img4 {
            width: 32px;
            height: 32px;
            background-image: url(../img/line_new.svg);
            background-size: 100%;
        }
    }
}
